body{
	/*Posición de todo y el estilo del fondo*/
	padding-top: 2.5%;
	padding-left: 400px;
}
.login{
	/*El marco del login y su respectivo fondo*/
	border: 1px solid black;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	background-image: url(edificios.png);
	color: white;
	box-shadow: 0px 0px 30px black;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

form{
	/*Ajuste de posicion y degradacion del brillo del form*/
	display: block;
	box-sizing: border-box;
	padding: 40px;
	width: 100%;
	height: 100%;
	backdrop-filter: brightness(40%);
	flex-direction: column;
	display: flex;
	gap: 5px;
}
h1{
	/*Estilo del titulo*/
	font-weight: normal;
	font-size: 24px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 60px;
}
label{
	/*Estilo del label(etiquetas)*/
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	padding-left: 10px;
}
input{
	/*Estilo de los datos*/
	background: rgba(255,255,255,0.3);
	height: 40px;
	border-radius: 20px;
	padding: 0px 20px;
	border: none;
	margin-bottom: 20px;
	color: white;
}
button{
	/*Estilo del boton*/
	background: rgb(45,126,231);
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	border: none;
	margin: 10px 0px;
	color: white;
}
button:hover{
	box-shadow: 0px 0px 10px white;
}